### .gitignore file for Python projects

# PyCharm
.idea/

# Byte-compiled
__pycache__/
*.py[cod]

# Log files
*.txt
*.log

# Images
*.png
*.jpg
*.jpeg
!activations.png
!parameters.png

# Ignore files in folders
data/*
runs/*
models/*
results/*
